<div class="col-12">
  <nav class="navbar navbar-expand-xl navbar-light " style="background-color: #a2d5ff">
    <a class="navbar-brand text-white" href="#"> Técnicas de Simulación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown ml-4">
         <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Metodos Aleatorios</a>
          <div class="dropdown-menu">   
            <a [routerLink]="['/cuadrado-medio']" class="dropdown-item">Cuadrado Medio</a>
            <a [routerLink]="['/congruencial-lineal']" class="dropdown-item">Congruencial Aditivo</a>
            <a [routerLink]="['/congruencial-multiplicativo']" class="dropdown-item">Congruencial Multiplicativo</a>
          </div>
        </li>
      <!--  <li class="nav-item dropdown ml-4">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Metodos probabilisticos</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/promedio-movil']" class="dropdown-item"> Promedio Movil</a>
            <a [routerLink]="['/asilamiento-exponencial']" class="dropdown-item">Alisamiento Exponencial</a>
          </div>
        </li> -->
        <!-- <li class="nav-item dropdown ml-4">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Metodos de Regresion</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/regresion-lineal']" class="dropdown-item">Regresion lineal</a>
            <a [routerLink]="['/regresion-no-lineal']" class="dropdown-item"> Regresion no lineal</a>
          </div>
        </li> -->
      <!--  <li class="nav-item dropdown ml-4">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Metodos de simulación</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/montecarlo']" class="dropdown-item"> Montecarlo</a> -->
            <!--    </li> <a [routerLink]="['/inversa-aditiva']" class="dropdown-item">Inversa Aditiva</a>
            <a [routerLink]="['/inversa-multiplicativa']" class="dropdown-item">Inversa Multiplicativa</a>
          </div>
        </li> -->
        <!-- <li class="nav-item dropdown ml-4">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Modelos de simulación</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/linea-espera']" class="dropdown-item">Linea de espera(Analítica)</a>
            <a [routerLink]="['/linea-espera-nuevo']" class="dropdown-item">Linea de espera</a>
            <a [routerLink]="['/inventario']" class="dropdown-item">Modelo inventario</a>
          </div>
        </li> -->
        <li class="nav-item dropdown ml-4">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Métodos Estadisticos</a>
          <div class="dropdown-menu">
            <a [routerLink]="['/estadisticos']" class="dropdown-item">Media Mediana y Moda</a>
           
          </div>
        </li>
       <!--  <li class="nav-item ml-4">
            <a href="https://drive.google.com/file/d/1ZX4cjuXtwTIlURw9yKmY3RShyHlcmsps/view?usp=sharing" target="_blank" class="nav-link text-white">Manual</a>
        </li>   -->  
       </ul>
    </div>
  </nav>
  
  <div class="container mt-5">

    <router-outlet>
  
    </router-outlet>
  </div>